.contain {
    position: relative;
    width: 100%;
    padding: 5% 10%;
}


.about-title {
    font-size: 2rem !important;
    margin-bottom: 20px;
    color: #e65608;

}


.about-body {
    margin-top: 26px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 1.7rem;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;

}

img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h6 {

    position: absolute;
    top: 3em;
    left: 20;
    width: 70%;
    font-size: 3em !important;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

h6 span {
    color: white;
    font: bold 24px/45px;
    line-height: 7rem;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

@media all and (max-width: 780px) {
    .contain {
        padding: 5%;

    }

    h6 {
        top: 20vh;


        font-size: 1.5rem !important;
    }

    h6 span {
        line-height: 2.8em;
    }
}