/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo); */


/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background: #829292;
} */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

#browser {
    margin: 10px auto;
    color: white;
    width: 60%;
    -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
    background: #394141;
    width: 100%;
    padding: 8px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
}

#browser-bar p {
    text-align: center;
}

#browser-bar .circles {
    border-radius: 10px;
    height: 13px;
    width: 13px;
    background: #ff3434;
    float: left;
    margin-left: 7px;
    margin-top: 3px;
}

#browser-bar .circles:nth-of-type(2) {
    background: #ffdd33;
}

#browser-bar .circles:nth-of-type(3) {
    background: #67b678;
}

.arrow {
    position: absolute;
    right: 3px;
    top: 6px;
    font-size: 1.2em;
    color: #8e9699;
}

#content {
    background: #454f4f;
}

#content:after {
    content: "";
    display: table;
    clear: both;
}

#content #left,
#content #right {
    height: 100%;
}

#content #right {
    float: left;
    width: 100%;
    background: #454f4f;
    font-size: 0.75em;
    padding: 15px;
}

@media all and (max-width: 780px) {
    #content #right {
        width: 100%;
    }

    #browser {
      
        width: 90%;
    }
}

#content #right p {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#content #right a:hover {
    color: #51B2D6;
}

#content #right #social {
    display: table;
    width: 120px;
    font-size: 25px;
}

#content #right .social {
    display: table-cell;
    text-align: left;
}

#content #right form {
    border-top: solid thin #8e9699;
    border-bottom: solid thin #8e9699;
    margin: 20px 0;
    padding: 20px 0;
}

#content #right form input,
#content #right form textarea {
    background: #394141;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: white;
}

#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
    margin-bottom: 0;
}

#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
    background: #7BC087;
    width: 100%;
    color: white;
    margin-top: 5px;
}

#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
    background: #58b068;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
    min-height: 75px;
    vertical-align: text-top;
}

#content #right p.other {
    font-size: 0.7;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-weight: 100;
}

#content #right p.other,
#content #right p.other a {
    color: #8e9699;
}