footer {
  text-align: center;
  height: auto;
  background-color: rgb(247, 247, 247);
  width: 100%;
  padding:4em;
}

footer h1 {
  font-family: 'Montserrat', sans-serif !important;
  padding: 3%;
  font-size: 2em;
  color: #444;
}
footer p{
  padding: 1%;

}
footer .contact{
  text-align: left;
  margin: 3em;
}

footer h3 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 18px;

}
footer ul {
  line-height: 1.5;
}