#services {
    padding: 2% 5%;
    background-color: #ece9e9;
    z-index: -2;
}

#services .services-title {
    font-size: 3rem !important;
    color: #e65608;

}

.service_image {
    z-index: -1;
    width: 100%;
    height: auto;
}


.service_name {
    position: relative;
    z-index: 1;
    transform: translate(-30px, 40px);
    padding: 3%;
    background-color: rgb(26, 26, 26);
}

.service_name h1 {
    text-transform: uppercase;
    color: #e9e9e9;
    font-size: 2rem;
}

.service_body {
    transform: translate(30px, -40px);
    padding: 5%;
    background-color: rgb(255, 255, 255);
}

.service_body p {
    line-height: 1.5rem;
    font-weight: 300;
    color: #1b1b1b;
    font-size: 1rem;
}

@media all and (max-width: 780px) {
    #services .services-title {
        font-size: 1.6rem !important;
    
    }
    .service_name h1 {
        font-size: 1.4rem;
    }

    .service_body p {
        line-height: 1.2rem;
        font-size: 0.7rem;
    }
}