/* INDEX Services */
#service-index {
    height: auto;
}

.service-title {
    padding: 3.5em;
    text-align: center;
    background-color: #5a5a5a;
}

.service-title h1 {
    font-size: 2.5rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color: #f0f0f0;

}

#service-index .row .col {
    padding: 0 !important;
    margin: 0 !important;
}

#service-index .service_body {
    padding: 15%;
}

#service-index .service_body h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
#service-index .service_body p {
    margin-top: 20px;
}

.img-fit img {
    width: 100% !important;
    height:80vh !important;
    object-fit: cover;
}



/* INDEX Services - end */