/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */


/* brucre hex #ff5e06 */

/* 
.nav-wrapper {
  height: 5rem;
}

.custom_theme {
  background: #1b1b1b;
} */

.brand-logo {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900;
}

.desc {
  /* position: absolute;
  top: 100%; */
  width: 100%;
  height: auto;
  background: #ff5e06;
  color: #ffffff;
  text-align: center;
  overflow: hidden;


}

.descTitle {
  font-size: 4.3rem;
  margin: 15% 10% 0 10%;
  line-height: 5rem;
  font-family: 'Archivo Black', sans-serif;
}

.descBody {
  margin: 4% 10% 10% 10%;
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .descTitle {
    font-size: 2.3rem;
    margin: 10% 8% 0 8%;
    line-height: normal;

  }

  .descBody {
    margin: 4% 10% 10% 10%;
    font-size: 0.9rem;
  }
}
}