.contain {
    position: relative;
    width: 100%;
    padding: 5% 10%;
}


.about-title {
    font-size: 2rem !important;
    margin-bottom: 20px;
    color: #e65608;

}


.about-body {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.7rem;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;

}

img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 780px) {
    .contain {
        padding: 5%;

    }

}