/*!
 * Materialize v1.0.0-rc.1 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */


/* brucre hex #ff5e06 */

/* 
.nav-wrapper {
  height: 5rem;
}

.custom_theme {
  background: #1b1b1b;
} */
@import url(https://fonts.googleapis.com/css?family=Oswald);

.brand-logo {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
}

.desc {
    /* position: absolute;
  top: 100%; */
    width: 100%;
    height: auto;
    background: #ff5e06;
    color: #ffffff;
    text-align: center;
    overflow: hidden;


}

.descTitle {
    font-size: 2.3rem;
    margin: 2% 10%;
    line-height: 5rem;
    font-family: 'Archivo Black', sans-serif;
}

.descBody {
    margin: 1% 10% 6% 10%;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .descTitle {
        font-size: 1.7rem;
        margin: 10% 8% 0 8%;
        line-height: normal;

    }

    .descBody {
        margin: 4% 10% 10% 10%;
        font-size: 0.7rem;
    }
}




.col .row {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px
}

.row .col[class*="push-"],
.row .col[class*="pull-"] {
    position: relative
}

.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.offset-s1 {
    margin-left: 8.3333333333%
}

.row .col.pull-s1 {
    right: 8.3333333333%
}

.row .col.push-s1 {
    left: 8.3333333333%
}

.row .col.offset-s2 {
    margin-left: 16.6666666667%
}

.row .col.pull-s2 {
    right: 16.6666666667%
}

.row .col.push-s2 {
    left: 16.6666666667%
}

.row .col.offset-s3 {
    margin-left: 25%
}

.row .col.pull-s3 {
    right: 25%
}

.row .col.push-s3 {
    left: 25%
}

.row .col.offset-s4 {
    margin-left: 33.3333333333%
}

.row .col.pull-s4 {
    right: 33.3333333333%
}

.row .col.push-s4 {
    left: 33.3333333333%
}

.row .col.offset-s5 {
    margin-left: 41.6666666667%
}

.row .col.pull-s5 {
    right: 41.6666666667%
}

.row .col.push-s5 {
    left: 41.6666666667%
}

.row .col.offset-s6 {
    margin-left: 50%
}

.row .col.pull-s6 {
    right: 50%
}

.row .col.push-s6 {
    left: 50%
}

.row .col.offset-s7 {
    margin-left: 58.3333333333%
}

.row .col.pull-s7 {
    right: 58.3333333333%
}

.row .col.push-s7 {
    left: 58.3333333333%
}

.row .col.offset-s8 {
    margin-left: 66.6666666667%
}

.row .col.pull-s8 {
    right: 66.6666666667%
}

.row .col.push-s8 {
    left: 66.6666666667%
}

.row .col.offset-s9 {
    margin-left: 75%
}

.row .col.pull-s9 {
    right: 75%
}

.row .col.push-s9 {
    left: 75%
}

.row .col.offset-s10 {
    margin-left: 83.3333333333%
}

.row .col.pull-s10 {
    right: 83.3333333333%
}

.row .col.push-s10 {
    left: 83.3333333333%
}

.row .col.offset-s11 {
    margin-left: 91.6666666667%
}

.row .col.pull-s11 {
    right: 91.6666666667%
}

.row .col.push-s11 {
    left: 91.6666666667%
}

.row .col.offset-s12 {
    margin-left: 100%
}

.row .col.pull-s12 {
    right: 100%
}

.row .col.push-s12 {
    left: 100%
}

@media only screen and (min-width: 601px) {
    .row .col.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.offset-m1 {
        margin-left: 8.3333333333%
    }

    .row .col.pull-m1 {
        right: 8.3333333333%
    }

    .row .col.push-m1 {
        left: 8.3333333333%
    }

    .row .col.offset-m2 {
        margin-left: 16.6666666667%
    }

    .row .col.pull-m2 {
        right: 16.6666666667%
    }

    .row .col.push-m2 {
        left: 16.6666666667%
    }

    .row .col.offset-m3 {
        margin-left: 25%
    }

    .row .col.pull-m3 {
        right: 25%
    }

    .row .col.push-m3 {
        left: 25%
    }

    .row .col.offset-m4 {
        margin-left: 33.3333333333%
    }

    .row .col.pull-m4 {
        right: 33.3333333333%
    }

    .row .col.push-m4 {
        left: 33.3333333333%
    }

    .row .col.offset-m5 {
        margin-left: 41.6666666667%
    }

    .row .col.pull-m5 {
        right: 41.6666666667%
    }

    .row .col.push-m5 {
        left: 41.6666666667%
    }

    .row .col.offset-m6 {
        margin-left: 50%
    }

    .row .col.pull-m6 {
        right: 50%
    }

    .row .col.push-m6 {
        left: 50%
    }

    .row .col.offset-m7 {
        margin-left: 58.3333333333%
    }

    .row .col.pull-m7 {
        right: 58.3333333333%
    }

    .row .col.push-m7 {
        left: 58.3333333333%
    }

    .row .col.offset-m8 {
        margin-left: 66.6666666667%
    }

    .row .col.pull-m8 {
        right: 66.6666666667%
    }

    .row .col.push-m8 {
        left: 66.6666666667%
    }

    .row .col.offset-m9 {
        margin-left: 75%
    }

    .row .col.pull-m9 {
        right: 75%
    }

    .row .col.push-m9 {
        left: 75%
    }

    .row .col.offset-m10 {
        margin-left: 83.3333333333%
    }

    .row .col.pull-m10 {
        right: 83.3333333333%
    }

    .row .col.push-m10 {
        left: 83.3333333333%
    }

    .row .col.offset-m11 {
        margin-left: 91.6666666667%
    }

    .row .col.pull-m11 {
        right: 91.6666666667%
    }

    .row .col.push-m11 {
        left: 91.6666666667%
    }

    .row .col.offset-m12 {
        margin-left: 100%
    }

    .row .col.pull-m12 {
        right: 100%
    }

    .row .col.push-m12 {
        left: 100%
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.offset-l1 {
        margin-left: 8.3333333333%
    }

    .row .col.pull-l1 {
        right: 8.3333333333%
    }

    .row .col.push-l1 {
        left: 8.3333333333%
    }

    .row .col.offset-l2 {
        margin-left: 16.6666666667%
    }

    .row .col.pull-l2 {
        right: 16.6666666667%
    }

    .row .col.push-l2 {
        left: 16.6666666667%
    }

    .row .col.offset-l3 {
        margin-left: 25%
    }

    .row .col.pull-l3 {
        right: 25%
    }

    .row .col.push-l3 {
        left: 25%
    }

    .row .col.offset-l4 {
        margin-left: 33.3333333333%
    }

    .row .col.pull-l4 {
        right: 33.3333333333%
    }

    .row .col.push-l4 {
        left: 33.3333333333%
    }

    .row .col.offset-l5 {
        margin-left: 41.6666666667%
    }

    .row .col.pull-l5 {
        right: 41.6666666667%
    }

    .row .col.push-l5 {
        left: 41.6666666667%
    }

    .row .col.offset-l6 {
        margin-left: 50%
    }

    .row .col.pull-l6 {
        right: 50%
    }

    .row .col.push-l6 {
        left: 50%
    }

    .row .col.offset-l7 {
        margin-left: 58.3333333333%
    }

    .row .col.pull-l7 {
        right: 58.3333333333%
    }

    .row .col.push-l7 {
        left: 58.3333333333%
    }

    .row .col.offset-l8 {
        margin-left: 66.6666666667%
    }

    .row .col.pull-l8 {
        right: 66.6666666667%
    }

    .row .col.push-l8 {
        left: 66.6666666667%
    }

    .row .col.offset-l9 {
        margin-left: 75%
    }

    .row .col.pull-l9 {
        right: 75%
    }

    .row .col.push-l9 {
        left: 75%
    }

    .row .col.offset-l10 {
        margin-left: 83.3333333333%
    }

    .row .col.pull-l10 {
        right: 83.3333333333%
    }

    .row .col.push-l10 {
        left: 83.3333333333%
    }

    .row .col.offset-l11 {
        margin-left: 91.6666666667%
    }

    .row .col.pull-l11 {
        right: 91.6666666667%
    }

    .row .col.push-l11 {
        left: 91.6666666667%
    }

    .row .col.offset-l12 {
        margin-left: 100%
    }

    .row .col.pull-l12 {
        right: 100%
    }

    .row .col.push-l12 {
        left: 100%
    }
}

@media only screen and (min-width: 1201px) {
    .row .col.xl1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.xl12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .row .col.offset-xl1 {
        margin-left: 8.3333333333%
    }

    .row .col.pull-xl1 {
        right: 8.3333333333%
    }

    .row .col.push-xl1 {
        left: 8.3333333333%
    }

    .row .col.offset-xl2 {
        margin-left: 16.6666666667%
    }

    .row .col.pull-xl2 {
        right: 16.6666666667%
    }

    .row .col.push-xl2 {
        left: 16.6666666667%
    }

    .row .col.offset-xl3 {
        margin-left: 25%
    }

    .row .col.pull-xl3 {
        right: 25%
    }

    .row .col.push-xl3 {
        left: 25%
    }

    .row .col.offset-xl4 {
        margin-left: 33.3333333333%
    }

    .row .col.pull-xl4 {
        right: 33.3333333333%
    }

    .row .col.push-xl4 {
        left: 33.3333333333%
    }

    .row .col.offset-xl5 {
        margin-left: 41.6666666667%
    }

    .row .col.pull-xl5 {
        right: 41.6666666667%
    }

    .row .col.push-xl5 {
        left: 41.6666666667%
    }

    .row .col.offset-xl6 {
        margin-left: 50%
    }

    .row .col.pull-xl6 {
        right: 50%
    }

    .row .col.push-xl6 {
        left: 50%
    }

    .row .col.offset-xl7 {
        margin-left: 58.3333333333%
    }

    .row .col.pull-xl7 {
        right: 58.3333333333%
    }

    .row .col.push-xl7 {
        left: 58.3333333333%
    }

    .row .col.offset-xl8 {
        margin-left: 66.6666666667%
    }

    .row .col.pull-xl8 {
        right: 66.6666666667%
    }

    .row .col.push-xl8 {
        left: 66.6666666667%
    }

    .row .col.offset-xl9 {
        margin-left: 75%
    }

    .row .col.pull-xl9 {
        right: 75%
    }

    .row .col.push-xl9 {
        left: 75%
    }

    .row .col.offset-xl10 {
        margin-left: 83.3333333333%
    }

    .row .col.pull-xl10 {
        right: 83.3333333333%
    }

    .row .col.push-xl10 {
        left: 83.3333333333%
    }

    .row .col.offset-xl11 {
        margin-left: 91.6666666667%
    }

    .row .col.pull-xl11 {
        right: 91.6666666667%
    }

    .row .col.push-xl11 {
        left: 91.6666666667%
    }

    .row .col.offset-xl12 {
        margin-left: 100%
    }

    .row .col.pull-xl12 {
        right: 100%
    }

    .row .col.push-xl12 {
        left: 100%
    }
}



.card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff
}

.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px
}

.card .card-title {
    font-size: 24px;
    font-weight: 300
}

.card .card-title.activator {
    cursor: pointer
}

.card.small,
.card.medium,
.card.large {
    position: relative
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
    max-height: 60%;
    overflow: hidden
}

.card.small .card-image+.card-content,
.card.medium .card-image+.card-content,
.card.large .card-image+.card-content {
    max-height: 40%
}

.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
    max-height: 100%;
    overflow: hidden
}

.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.card.small {
    height: 300px
}

.card.medium {
    height: 400px
}

.card.large {
    height: 500px
}

.card.horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.card.horizontal.small .card-image,
.card.horizontal.medium .card-image,
.card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible
}

.card.horizontal.small .card-image img,
.card.horizontal.medium .card-image img,
.card.horizontal.large .card-image img {
    height: 100%
}

.card.horizontal .card-image {
    max-width: 50%
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: auto
}

.card.horizontal .card-stacked {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

.card.horizontal .card-stacked .card-content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.card.sticky-action .card-action {
    z-index: 2
}

.card.sticky-action .card-reveal {
    z-index: 1;
    padding-bottom: 64px
}

.card .card-image {
    position: relative;
    text-align: center;


}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}


.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 24px
}

.card .card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px
}

.card .card-content p {
    margin: 0
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 1.9em;
}

.card .card-content .card-title i {
    line-height: 32px
}

.card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px
}

.card .card-action:last-child {
    border-radius: 0 0 2px 2px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6
}

.card .card-reveal {
    padding: 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block
}



.parallax-container {
    position: relative;
    overflow: hidden;
    height: 20vw
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.parallax-container .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}


.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}


.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%
}

.carousel.carousel-slider {
    top: 0;
    left: 0
}

.carousel.carousel-slider .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px
}

.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px
}

.carousel.carousel-slider .carousel-item p {
    font-size: 15px
}

.carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0
}

.carousel .carousel-item>img {
    width: 100%
}

.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%
}

.carousel .indicators .indicator-item.active {
    background-color: #fff
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none
}

/* NAVBAR */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;

}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "Titillium Web", sans-serif !important;
    color: #4e6361;
    background-color: #f5f4e9;
}

a {
    color: #eeeeee;
    text-decoration: none;
}

/* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

/* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
.cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: #f5f4e9;
    z-index: 2;
    padding-top: 50px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}



header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;

    /* navbar color */
    background: #3b3b3b;


    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

header.is-fixed {
    position: fixed;
}


#cd-logo {
    display: block;
    float: none;
    text-align: center;
    margin: 12px 0 0 20px;
    font-size: 1.9rem;
}

#cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 10px 0 0 50px;
        float: left;
    }
}

#cd-top-nav {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    display: none;
}

#cd-top-nav ul {
    height: 100%;
    padding-top: 10px;
}

#cd-top-nav li {
    display: inline-block;
    margin-right: 1em;
}

#cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    font-size: 0.9em !important;
    text-transform: uppercase;
    font-weight: 600;
}

#cd-top-nav a:hover {
    color: rgb(255, 206, 115);
    transition: all ease-in 150ms;
}

#cd-top-nav a.current {
    background-color: #242e30;
}

.no-touch #cd-top-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) {
    #cd-top-nav {
        display: block;
    }
}

#cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #ff5e06;
}

#cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
}

#cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
}

#cd-menu-trigger .cd-menu-icon::before,
#cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
}

#cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
}

#cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before,
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #cd-menu-trigger {
        display: none;
    }

}

#cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    background-color: #242e30;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
}

#cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
}

#cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
}

#cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: #aab5b7;
}

#cd-lateral-nav a.current {
    background-color: #3a4a4d;
    color: #FFF;
}

.no-touch #cd-lateral-nav a:hover {
    color: #FFF;
}

@media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
        margin: 20px 0;
    }
}

#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children>a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    /* this is the right arrow to show that the item has a submenu  */
}

#cd-lateral-nav .item-has-children>a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    background: url("../img/cd-arrow.svg") no-repeat center center;
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children>a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
    padding: 0 32px;
}

#cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both;
}

#cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    text-align: center;
    padding: 0;
    color: rgb(12, 12, 12);
    /* background-image: url("img/cd-socials.svg"); */
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em;
}

#cd-lateral-nav .socials a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: all ease-in 200ms;
}

#cd-lateral-nav .socials a.cd-twitter {
    background-position: 0 0;
}

#cd-lateral-nav .socials a.cd-github {
    background-position: -32px 0;
}

#cd-lateral-nav .socials a.cd-facebook {
    background-position: -64px 0;
}

#cd-lateral-nav .socials a.cd-google {
    background-position: -96px 0;
}

.no-touch #cd-lateral-nav .socials a:hover {
    background-color: #4e6361;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
    background-position: 0 -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-github {
    background-position: -32px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
    background-position: -64px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-google {
    background-position: -96px -32px;
}

/* NAVBAR - END*/


/* SLIDER */
.cb-slideshow,
.cb-slideshow:after {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow:after {
    content: '';
    position: fixed;

    background: transparent url(img/pattern.png) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 24s linear infinite 0s;
    -moz-animation: titleAnimation 24s linear infinite 0s;
    -o-animation: titleAnimation 24s linear infinite 0s;
    -ms-animation: titleAnimation 24s linear infinite 0s;
    animation: titleAnimation 24s linear infinite 0s;
}

.cb-slideshow li div h3 {
    /* font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: "Titillium Web", sans-serif; */
    font-size: 100px;
    padding: 0;
    line-height: 200px;
}


.cb-slideshow li:nth-child(1) span {
    background-image: url(img/slider/1.jpg)
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(img/slider/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(img/slider/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(img/slider/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-ms-keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 140px
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 50px
    }
}

/* SLIDER -END*/

/* ABOUT US */
.contain {
    position: relative;
    width: 100%;
    padding: 5% 10%;
}


.about-title {
    font-size: 2rem !important;
    margin-bottom: 20px;
    color: #e65608;

}


.about-body {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.7rem;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;

}

img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 780px) {
    .contain {
        padding: 5%;

    }

}

/* ABOUT US - END */


/* PROJECTS */
.project-title {
    padding: 1.3em 3.5em;
    margin-bottom: 0.6em;
    text-align: center;
    background-color: #f0f0f0;
}

.project-title h1 {
    font-size: 2rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color: #5a5a5a;

}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .project-title {
        padding: 1em 2em;
    }

    .project-title h1 {
        font-size: 1.7rem !important;
    }
}

@media screen and (max-width: 601px) {
    .project-title {
        padding: 0.7em 1.2em;
    }

    .project-title h1 {
        font-size: 1.5rem !important;
    }
}

.card:hover,
.project_loadmore a:hover {
    background-color: rgb(253, 255, 155);
    transform: scale(1.02);
    transition: all ease 400ms;
    -webkit-box-shadow: 0px 0px 88px -17px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 0px 88px -17px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 88px -17px rgba(0, 0, 0, 0.49);

}


.card .card-image img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card .card-content {
    color: #444;
}

.card .card-content .card-title {
    font-size: 1.4em;
}

.project_loadmore {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
}

.project_loadmore a {
    padding: 1% 2%;
    font-weight: 600;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif !important;
    border: solid rgb(68, 68, 68) 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(53, 53, 53);
}

/* project.php */


#project_details .project-title a {
    color: rgb(99, 99, 99);
    float: left;
    font-size: 3em;
    font-weight: 100;
}

#project_details .parallax-container {
    height: 30vw;
}

#project_details .row {
    padding: 5%;
}


#project_details .overview {
    background-color: #fff;

}

#project_details .overview h1 {
    font-family: 'Montserrat', sans-serif !important;
    padding: 5%;
    font-size: 1.4em;
}

#project_details .overview p {
    padding: 5%;
    padding-top: 0;
    line-height:1.5;
}


#project_details .details h1 {
    font-family: 'Montserrat', sans-serif !important;
    padding: 5%;
    font-size: 1.4em;
}

#project_details .details p {
    padding: 5%;
    padding-top: 0;
}

#project_details .details p i {
    color: #ff5e06;
    margin-right: 5px;
}


#carousel-container {
    padding: 5em;
    padding-top: 0;
    height: auto;
}

@media screen and (max-width: 768px) {
    .card .card-content .card-title {
        font-size: 1.1em;
    }

    #project_details .project-title {
        padding: 2.9em 1em;
    }

    #project_details .project-title a {
        font-size: 2.5em;
    }

    #carousel-container {
        padding: 1em;
    }
}

/* PROJECTS - END*/


/* SERVICES */
/* INDEX Services */
#service-index {
    height: auto;
}

.service-title {
    padding: 1.1em 3.5em;
    text-align: center;
    background-color: #5a5a5a;
}

.service-title h1 {
    font-size: 2rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color: #f0f0f0;

}

#service-index .row .col {
    padding: 0 !important;
    margin: 0 !important;
}

#service-index .service_body {
    padding: 15%;
}

#service-index .service_body h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

#service-index .service_body p {
    text-align: justify;
    color: rgb(27, 27, 27);
    font-size: 0.96em;
    line-height: 1.5;
    margin-top: 20px;
}

.service_project_mgmt {
    padding-bottom: 0 !important;

}

.img-fit img {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover;
}

.show-on-large {
    display: block;
}

.show-on-small {
    display: none;
}



@media screen and (min-width: 601px) and (max-width: 992px) {
    .service-title {
        padding: 1em 2em;
    }

    .service-title h1 {
        font-size: 1.7rem !important;

    }

    #service-index .service_body {
        padding: 10%;
    }

    #service-index .service_body h1 {
        font-size: 1.3em;
    }

    #service-index .service_body p {
        font-size: 0.7em;
    }

    .service_project_mgmt {
        padding-bottom: 15% !important;

    }

    .show-on-large {
        display: none;
    }

    .show-on-small {
        display: block;
    }

}

@media screen and (max-width: 601px) {
    .service-title {
        padding: 0.7em 1.2em;
    }

    .service-title h1 {
        font-size: 1.5rem !important;

    }

    #service-index .service_body h1 {
        font-size: 1.1em;
    }

    #service-index .service_body p {
        font-size: 0.6em;
    }

    .service_project_mgmt {
        padding-bottom: 15% !important;

    }

    .show-on-large {
        display: none;
    }

    .show-on-small {
        display: block;
    }
}

/* INDEX Services - end */
/* SERVICES - END */


/* CONTACT */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo); */


/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background: #829292;
} */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

#browser {
    margin: 10px auto;
    color: #000;
    width: 60%;
    -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
    background: #dddddd;
    width: 100%;
    padding: 8px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
}

#browser-bar p {
    text-align: center;
    transform: translateX(-30px);
}

#browser-bar .circles {
    border-radius: 10px;
    height: 13px;
    width: 13px;
    background: #ff3434;
    float: left;
    margin-left: 7px;
    margin-top: 3px;
}

#browser-bar .circles:nth-of-type(2) {
    background: #ffdd33;
}

#browser-bar .circles:nth-of-type(3) {
    background: #67b678;
}

.arrow {
    position: absolute;
    right: 3px;
    top: 6px;
    font-size: 1.2em;
    color: #8e9699;
}

#content {
    /* background: #454f4f; */
}

#content:after {
    content: "";
    display: table;
    clear: both;
}

#content #left,
#content #right {
    height: 100%;
}

#content #right {
    float: left;
    width: 100%;
    background: #f5f4e9;
    font-size: 0.75em;
    padding: 15px;
}

@media all and (max-width: 780px) {
    #content #right {
        width: 100%;
    }

    #browser {

        width: 90%;
    }
}

#content #right p {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#content #right a:hover {
    color: #51B2D6;
}

#content #right #social {
    display: table;
    width: 80px;
    font-size: 25px;
}

#content #right .social {
    color: #000;
    display: table-cell;
    text-align: left;
}

#content #right form {
    border-top: solid thin #8e9699;
    border-bottom: solid thin #8e9699;
    margin: 20px 0;
    padding: 20px 0;
}

#content #right form input,
#content #right form textarea {
    background: #e0e0e0;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: rgb(109, 109, 109);
}

#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
    margin-bottom: 0;
}

#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
    background: #7BC087;
    width: 100%;
    color: white;
    margin-top: 5px;
}

#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
    background: #58b068;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
    min-height: 75px;
    vertical-align: text-top;
}

#content #right p.other {
    font-size: 0.7;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-weight: 100;
}

#content #right p.other,
#content #right p.other a {
    color: #1a1a1a;
}

/* CONTACT - END */

/* FOOTER */
footer {
    text-align: center;
    height: auto;
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 4em;
}

footer h1 {
    font-family: 'Montserrat', sans-serif !important;
    padding: 3%;
    font-size: 2em;
    color: #444;
}

footer p {
    padding: 1%;

}

footer .contact {
    text-align: left;
    margin: 3em;
}

footer h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 18px;

}

footer ul {
    line-height: 1.5;
}

footer .map {
    padding: 1em 3em;
}

@media only screen and (max-width: 601px) {
    footer {
        padding: 1em;
    }

    footer h1 {
        padding: 2%;
        font-size: 1.7em;
    }

    footer h3 {
        font-weight: 600;
        font-size: 1.2em;

    }
    footer .contact {
    margin-left: 0;
}
    footer .map {
        padding: 1em 0;
    }
}

/* FOOTER - END*/